.CartView{
    display:none;
    background-color: transparent;
    width: 102%;
    height: 100%;
    position: absolute;
    right: 0.1%;
    opacity: 0;
}
.CartView img {
    width: 55%;
    height: 100%;
    margin-left:15%;
}
