#ChatMessage{
    display: none;
    color: white;
    background-color: #404040;
    border-radius: 5vh;
    min-height: 100%;
    max-height: 100%;
    position: relative;
}

#ChatMessage .searchTerm{
    width: 100%;
}

#ChatMessage .searchTerm input{
    background-color: white;
    width: 94%;
    margin-left: 3%;
    border-radius: 50vh;
    border-style: solid;
    border-width: 0.2em;
    padding-right: 6vh;
    padding-left: 2vh;
    border-color: #3E99CF;
    margin-bottom: 3%;
    position: absolute;
    bottom: 0;
}

#ChatMessage .title{
    background-color: #1a1a1a;
    border-radius: 1vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    justify-content: space-between;
    align-items: center;
}

#ChatMessage .title .left{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 70%;
}

#ChatMessage .title img{
    width: 35%;
    height: 60%;
    margin: 1%;
}

#ChatMessage .title{
    font-weight: bold;
    font-size: 1.5em;
}

#ChatMessage .title i{
    color: #3E99CF;
}

#ChatMessage .titleName{
    margin: 1%;
}

#ChatMessage .chatContainer{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 1%;
}

#ChatMessage .chatContainer #ChatList{
    min-height: 50vh;
    overflow-y: auto;
    max-height: 60vh;
}

.chatContainer .MessageBox{
    margin: 1%;
    padding: 1%;
    border-radius: 1vh;
}

.chatContainer .OtherMessageBox{
    background-color: #1a1a1a;
    color: antiquewhite;
}

.chatContainer .MyMessageBox{
    background-color: #3E99CF;
    color: antiquewhite;
}

#ChatMessage .title #backButton{ 
    width: 7vh;
    height: 7vh;
    background-color: #232425;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}