
.ShopView {
    display: none;
    margin-left: auto;
    margin-right: auto;
    transition: display 0s,opacity .5s linear
}

.ShopView p {
    float: left;
    top: 0;
    left: 25%;
    position: relative;
    color: #fff;
    font-weight: 700
}

.MerchProduct img:hover {
    transform: scale(1.2)
}

.MerchProduct,.TicketProduct{
    top: 1vh;
    position: relative;
    height: 100%;
    width: 20%;
    float: left
}

.MerchProduct img{
    margin-left: 25%;
    float: left;
    position: relative
}

.MerchProduct img {
    width: 18vh;
    height: 18vh;
    margin-bottom: 3%;
    transition: transform .3s ease-in-out
}

.ShopView {
    top: 5%;
    margin-top: 7%;
    height: 85vh;
    opacity: 0
}

.TicketRow{
    height: 65%;
    border-color: white;
    border-radius: 5vh 0 0 5vh;
    background-color: #404040;
    top: 5%;
}

.TicketProduct{
    left: -4%;
    top: 5%;
    margin-left: 2%;
    height: 90%;
    width: 15%;

}

.TicketImg{
    border-radius: 5vh;
    object-fit: cover;
    width: 100%;
    height: 100%;
}