
.ShopView {
    display: none;
    margin-left: auto;
    margin-right: auto;
    transition: display 0s,opacity .5s linear;
    overflow-y:auto;
}

.ShopView p {
    float: left;
    top: 0;
    left: 25%;
    position: relative;
    color: #fff;
    font-weight: 700
}

.MerchProduct img:hover {
    transform: scale(1.1)
}

.TicketRow{
    margin-top:3%;
}

.TicketProduct{
    top: 1vh;
    position: relative;
    height: 100%;
    width: 20%;
    float: left
}


.MerchProduct{
    margin-left: 5%;
    top: 10%;
    position: relative;
    height: 100%;
    width: 25%;
    float: left
}
.MerchProduct img{
    margin-left:5%;
    float: left;
    position: relative;
    border-radius: 3vh;
}

.MerchProduct img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 3%;
    transition: transform .3s ease-in-out
}

.ShopView {
    top: 5%;
    margin-top: 7%;
    height: 85vh;
    opacity: 0
}

.TicketRow{
    height: 65%;
    border-color: white;
    border-radius: 5vh;
    width: 95%;
    background-color: #404040;
    top: 5%;
}

.TicketProduct{
    top: 5%;
    margin-left: 1%;
    height: 90%;
    width: 17%;
}

.TicketImg{
    display: inline-block;
    border-radius: 5vh;
    object-fit: cover;
    width: 100%;
    height: 100%;
}