/* Menu.tsx CSS */
.Menu{
  background-color: #404040;
  height: 70vh;
  width: 30vh;
  position: absolute;
  top: 25vh;
  left: 1vh;
  margin-bottom: 20vh;
  border-radius: 5vh
}

.MySongsButton{
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  padding-left: 0.05vh;
  top: 5vh;
  left: 2vh
}

.patina{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5)
}

.MyShopButton{
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 5vh;
  right: 3vh
}

.immagini{
  width: 100%;
  height: 100%;
  object-fit: cover 
}

.menuButton{
  background-color: #232425;
  box-shadow: #000000 0vh 0vh 2vh inset;
  box-sizing: border-box;
  appearance: none;
  border-style: none;
  color:white;
  border-radius: 5vh;
  border: 0;
  height:7vh;
  width:25vh;
  position: relative;
  top: 11vh;
  left: 2vh;
  font-weight: bold;
  font-style: italic;
  font-size: 150%;
  display: inline-block;
  cursor: pointer;
  letter-spacing: -.24px;
  margin:0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 4vh;
}

.menuButton:hover{
  background-color: #3E99CF !important;
  box-shadow: #000000 0vh 0vh 2vh inset !important;
}



/* User.tsx CSS */
.UserDiv{
  background-color: #3E99CF;
  width: 35vh;
  height: 25vh;
  border-radius: 0px 0% 50% 0px;
  position: absolute;
  top: -5vh
}

.imgContainer{
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 10vh;
  left: 2vh
}

/*Search css*/
.search input{
  position: relative;
  background-color: #404040;
  width: 70%;
  height: 5vh;
  top: 5vh;
  left: 45vh;
  border-radius: 50vh;
  border: 0;
  padding-left: 6vh;
}

.search button{
  position: relative;
  background-color: #232425;
  width: 10vh;
  height: 5vh;
  top: 4vh;
  left:35vh;
  border-radius: 50vh;
  border-color: white;
}

.Lente{
  position: absolute;
  
  width: 5vh;
  margin-right: 5%;
  height: 5vh;
  top: 5vh;
  left: 45vh;
  border-radius: 50vh;
}


