body{
  background-image: linear-gradient(top right, #232425 3%, #AACFEF 100%) !important;
  background-color: #232425 !important;
  display: block;
}

/* Menu.tsx CSS */
.Menu{
  background-color: #404040;
  height: 80vh;
  width: 35vh;
  position: relative;
  left: 1vh;
  border-radius: 5vh;
  float: left;
}

.MySongsButton{
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  padding-left: 0.05vh;
  top: 5vh;
  margin-left: 5vh;
  float: left;
}

.patina{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5)
}


.immagini{
  width: 100%;
  height: 100%;
  object-fit: cover 
}

.menuButton{
  background-color: #232425;
  box-shadow: #000000 0vh 0vh 2vh inset;
  box-sizing: border-box;
  appearance: none;
  border-style: none;
  color:white;
  border-radius: 5vh;
  border: 0;
  height:7vh;
  width:25vh;
  position: relative;
  top: 11vh;
  left: 5vh;
  font-weight: bold;
  font-style: italic;
  font-size: 3vh;
  display: inline-block;
  cursor: pointer;
  letter-spacing: -.24px;
  margin:0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 4vh;
}

.menuButton:hover{
  background-color: #3E99CF !important;
  box-shadow: #000000 0vh 0vh 2vh inset !important;
}



/* User.tsx CSS */
.UserDiv{
  background-color: #3E99CF;
  width: 40vh;
  height: 17vh;
  border-radius: 0px 0% 50% 0px;
  position: relative;
  float: left;
  padding-top: 3vh;
  padding-left: 1vh;
  margin-bottom: 2vh;
}

.UserDiv p{
  margin-top: 2.3vh;
  margin-left: 1vh;
  float: left;
}

.imgContainer{
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  float: left;
}

/*Search css*/
.search{
  float: left;
  width: 100%;
}
.search input{
  position: relative;
  background-color: #404040;
  width: 70%;
  top: 5vh;
  margin-left: 2vh;
  border-radius: 50vh;
  border: 0;
  padding-left: 6vh;
  color:white;
  float: left;
}

.Lente{
  position: relative;
  width: 5vh;
  height: 5vh;
  top: 5vh;
  border-radius: 50vh;
}


.View{
  background-color: #404040;
  margin-right: 5%;
  width: 75%;
  height: 80vh;
  position: relative;
  left: 5vh;
  border-radius: 5vh;
  float: left;
}

.Container{
  height: 24vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  position: relative;
  width: 97%;
  border-radius: 5vh;
  color: white;
  font-weight: bold;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  background-color: #232425;
}
.title{
  margin-left: 5vh;
  margin-top: 1vh;
  position: relative;
}

.productImg{
  background-color: #3E99CF;
  height: 15vh;
  border-radius: 10%;
  width: 15vh;
  position:relative;
  left:5vh;
}

.Object{
  position: relative;
  width: auto ;
  float: left;
  margin-left: 5vh;

}

.Menu+View, .Search-User{
  display: flex;
  flex-direction: row;
}


#root, #All{
  height: 0;
}



